= render "posts/header"
.user-show-wrapper
  .user-show-wrapper__row
    .user-show-wrapper__row__user-contents
      .user-show-wrapper__row__user-contents__left
        = image_tag "silhouette.png", alt: "pic", class: 'user-image'
      .user-show-wrapper__row__user-contents__right
= render "posts/footer"