.categories-wrapper {
  width: 980px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 56px;
  &__contents {
    height: 100%;
    width: 100%;
    &__top {
      font-size: xx-large;
      letter-spacing: 0.8px;
      padding: 1rem;
      text-align: center;
      font-weight: 500;
      color: #2D2926;
      margin: 0 0 32px;
      border-bottom: 1px solid #e7e7e7;
      background: #fff;
    }
    &__main {

    }
  }
}
