.show-post-wrapper {
  max-width: 980px;
  margin: 56px auto;
  &__main {
    max-width: 800px;
    margin: 8px auto 0px;
    &__title {
      border-bottom: 0.5px solid $mainColor;
      margin-bottom: 32px;
      &__brand {
        color: #666;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.4px;
        display: block;
        margin-bottom: 4px;
        font-weight: 300;
      }
      &__name {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.8px;
        color: #2D2926;
        margin: 0 0 20px;
        font-weight: 500;
      }
    }
  }
}
