.post-category-wrapper {
  width: 980px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 56px;
  &__contents {
    height: 100%;
    width: 100%;
    &__category-list {
      display: flex;
      justify-content: space-between;
      .dropdwn{
        font-size: medium;
        .category {
          color: $mainBlack;
        }
      }
      
      & ul{
        text-align: center;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        color: #fff;
      }
      & li{
        max-width: calc(1200px/5);
        position: relative;
        padding: 5px;
        display: block;
        cursor: pointer;
      }
      
      .dropdwn>li{
      }
      
      .dropdwn_menu{
        width: 100%;
        display: none;
        position: absolute;
        margin-left: -5px;
        margin-top: 5px;
        padding: 0;
        background: $mainColor;
      }
      
      .dropdwn_menu li{
        width: 100%;
      }
      
      .dropdwn_menu li a{
        padding: 5px 0;
        margin: -5px 5px -5px -5px;
        display: block;
        color: #fff;
      }
      
      & li a:hover{
        background: #b3d7ff;
        color: rgb(65, 65, 65);
      }
      
      .toppage__footer-nav-category{
        display: none;
        position: absolute;
        z-index: 5;
        left:0px;
      }
    }
    &__category-title {
      padding: 48px 0 24px;
      border-bottom: 1px solid #e7e7e7;
      margin-bottom: 48px;
      &__main {
        margin: 0 0 24px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.8px;
        color: #000;
      }
      &__sub {
        margin: 24px 0 16px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.8px;
        font-weight: 300;
        color: #666;
      }
    }
    &__posts {
      &__title {
        border-left: 3px solid $mainColor;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.8px;
        color: #2D2926;
        padding-left: 16px;
        margin: 16px 0 24px;
        font-weight: 500;
      }
      &__list {
        width: 55rem;
      }
    }
  }
}

