.show-post-wrapper {
  max-width: 980px;
  margin: 56px auto;
  &__main {
    max-width: 800px;
    margin: 8px auto 0px;
    &__title {
      border-bottom: 0.5px solid $mainColor;
      margin-bottom: 32px;
      &__brand {
        color: #666;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.4px;
        display: block;
        margin-bottom: 4px;
        font-weight: 300;
      }
      &__name {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.8px;
        color: #2D2926;
        margin: 0 0 20px;
        font-weight: 500;
      }
    }
    &__images {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 32px;
      .small-img {
        width: 20%;
        position: relative;
      }
      .big-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      & p {
        position: absolute;
        right: 8px;
        bottom: 8px;
        color: #000;
        font-size: x-large;
      }
    }
    &__user {
      width: 100%;
      height: 32px;
      border-bottom: 1px solid #e7e7e7;
      padding: 0.3rem 0;
      font-size: small;
      display: flex;
      justify-content: space-between;
      .link-user {
        display: flex;
        align-items: center;
        color: #999;
        width: fit-content;
      }
      &__image {
        margin-right: 1rem;
        height: 32px;
        .user-img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 0.5px solid #DCD4D4;
        }
      }
      &__info {
        display: flex;
        width: 100%;
      }
      &__time {
        align-items: center;
        line-height: 32px;
      }
    }
    &__remarks {
      padding: 2rem 3rem;
      white-space: pre-line;
      font-size: medium;
      line-height: 26px;
      letter-spacing: 0.8px;
      color: #2D2926;
      font-weight: 300;
      border-bottom: 1px solid #e7e7e7;
      margin-bottom: 32px;
    }
    &__comments {
      &__title {
        border-left: 3px solid $mainColor;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.8px;
        color: #2D2926;
        padding-left: 16px;
        margin: 16px 0 24px;
        font-weight: 500;
      }
      &__main {
        color: #2D2926;
        padding: 16px;
        &__content {
          font-size: medium;
          line-height: 20px;
          letter-spacing: 0.4px;
          color: #2D2926;
          font-weight: 400;
          margin: 0 0 12px;
        }
        &__sub {
          display: flex;
          justify-content: space-between;
          font-size: small;
          line-height: 16px;
          letter-spacing: 0;
          color: #999;
          font-weight: 300;
          .link-user {
            color: #999;
          }
        }
      }
      &__no-main {
        font-size: small;
      }
      &__submit {
        margin-bottom: 6rem;
        &__box {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-top: 24px;
          .comment-text {
            width: 80%;
            height: 84px;
            padding: 12px 16px;
            font-size: 14px;
            letter-spacing: 0.4px;
            font-weight: 300;
            color: #2D2926;
            border-radius: 4px;
            border: 1px solid #e7e7e7;
            resize: none;
          }
          .comment-btn {
            width: 15%;
            height: 40px;
            background: $mainColor;
            color: #fff;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;
            text-align: center;
            font-weight: 400;
            border-radius: 4px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
    &__return-home {
      text-align: center;
      margin-top: 2%;
      .btn-home{
        display: block;
        box-sizing: border-box;
        width: 12rem;
        height: 2rem;
        line-height: 2rem;
        margin: 0 auto;
        background-color: $mainColor;
        border-radius: 1rem;
        color: #fff;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

// レスポンシブ
@media screen and (max-width: 480px) {
  .show-post-wrapper__main {
    margin: 8px 1rem 0px;
  }
  .show-post-wrapper__main__user {
    display: block;
  }
  .show-post-wrapper__main__comments__submit__box .comment-text {
    width: 70%;
  }
  .show-post-wrapper__main__images p {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: large;
  }
  .show-post-wrapper__main__info {
    font-size: x-small;
  }
}