.room-show-wrapper {
  height: calc(100vh - 4rem);
  width: 100vw;
  background-color: #F4F3F4;
  &__contents {
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    &__main {
      max-width: 980px;
      height: 100%;
      margin: auto;
      display: flex;
      background-color: #fff;
      &__left {
        height: 100%;
        overflow: hidden;
        width: 350px;
        border: 1px solid #E8E1E1;
        border-right: none;
        &__title {
          font-size: 16px;
          font-weight: 600;
          height: 60px;
          padding: 0 20px;
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          line-height: 60px;
          border-bottom: 1px solid #E8E1E1;
        }
        &__list {
          height: calc(100% - 60px);
          width: 100%;
          padding: 1rem 0;
          overflow: scroll;
          box-sizing: border-box;
          .room-list {
            padding: 0 10px;
            height: 10%;
            display: flex;
            margin-bottom: 30px;
            font-size: 10px;
            &__image {
              width: 100px;
              margin: auto 0;
              .message-user-image {
                border-radius: 50%;
                height: 75px;
                width: 75px;
                border: 0.5px solid #DCD4D4;
              }
            }
            &__talk-box {
              color: #555;
              font-size: 10px;
              margin: auto 0;
              &__name{
                font-weight: bold;
                font-size: 14px;
              }
              &__last-talk{
                font-size: 11px;
              }
            }
          }
        }
      }

      // DM
      &__right {
        height: 100%;
        width: calc(100% - 350px);
        border: 1px solid #E8E1E1;
        &__title {
          font-size: 16px;
          font-weight: 600;
          height: 60px;
          padding: 0 20px;
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          line-height: 60px;
          display: flex;
          border-bottom: 1px solid #E8E1E1;
          &__image {
            border-radius: 10px;
            .opponent-img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              border: 0.5px solid #DCD4D4;
              margin-top: 6px;
            }
          }
          &__name {
            margin-left: 20px;
            .opponent-user {
              color: $mainBlack;
            }
          }
        }
        &__message {
          height: calc(100% - 60px);
          width: 100%;
          box-sizing: border-box;
          &__top {
            box-sizing: border-box;
            height: calc(100% - 60px);
            padding: 20px 20px 0;
            overflow: auto;
            background:
            linear-gradient(white 30%, rgba(255,255,255,0)),
            linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
            radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
            radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
            background-repeat: no-repeat;
            background-color: #fff;
            background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
            background-attachment: local, local, scroll, scroll;
            .left-message-box{
              display: flex;
              text-align: left;
              margin-bottom: 30px;
              padding-right: 20%;
              .message-user-image{
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-right: 20px;
              }
              &__content{
                padding: 16px 20px;
                background-color: #EEEEEE;
                color: #444444;
                border-radius: 0 100px 100px 100px / 0 100px 100px 100px;
                line-height: initial;
                width: fit-content;
              }
            }
            .right-message-box{
              text-align: right;
              margin-bottom: 30px;
              padding-left: 20%;
              &__right{
                width: fit-content;
                margin-left: auto;
                display: flex;
                &__content{
                  padding: 16px 20px;
                  border-radius: 100px 100px 0 100px / 100px 100px 0 100px;
                  color: #ffffff;
                  background-color: $mainColor;
                  text-align: left;
                  line-height: initial;
                }
              }
            }
          }
          &__bottom {
            height: 60px;
            width: 100%;
            box-sizing: border-box;
            padding: 0.5rem;
            .new_message {
              width: 100%;
              display: flex;
              font-size: 20px;
              border-radius: 30px;
              border: 0.5px solid #DCD4D4;
              .form-text {
                border: none;
                outline: none;
                width: 83%;
                border-radius: 30px;
                padding-left: 2rem;
              }
              .form-btn {
                background-color: #fff;
                font-size: larger;
                border: none;
                outline: none;
                margin: auto;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.messages-date {
  text-align: center;
  padding-bottom: 5%;
  font-size: 10px;
}