.top-main {
  max-width: 980px;
  margin: 0 auto;
  &__contents {
    &__category {
      margin-bottom: 9%;
      &__title {
        font-weight: bold;
        font-size: xx-large;
        margin-bottom: 2%;
        .category {
          color: #000;
        }
      }
      &__content {
        width: 100%;
        & ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          & li {
            padding: 2% 0;
            .title {
              color: $mainBlack;
              text-align: center;
              font-size: larger;
            }
          }
          & li:hover {
            opacity: 0.6;
            transition-duration: 0.3s;
          }
        }
      }
    }
    &__new-posts {
      margin-bottom: 10%;
      &__title {
        font-weight: bold;
        font-size: xx-large;
        margin-bottom: 4%;
      }
      &__content {
        width: 100%;
        display: flex;
        overflow: scroll;
        &__head {
          width: 100%;
          font-weight: 300;      
          & tr {
            & td  {
              border: 1px solid #E8E1E1;
              padding: 1rem;
              &.top-main__contents__new-posts__content__title {
                line-height: 16px;
                background-color: #F4F3F4;
                color: #999;
                width: 11%;
              }
              &.top-main__contents__new-posts__content__body {
                word-wrap: break-word;
                width: 20%;
                font-size: small;
                .link {
                  color: $mainColor;
                }
              }
            }
          }
        }
      }
    }
    &__users {
      margin-bottom: 10%;
      &__title {
        font-weight: bold;
        font-size: xx-large;
        margin-bottom: 4%;
      }
      &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow: scroll;
        .user {
        }
        .user:hover {
          opacity: 0.6;
          transition-duration: 0.3s;
        }
        &__user  {
          color: $mainBlack;
          width: 9rem;
          flex-shrink: 0;
          border-radius: 16px;
          border: 2px solid #F5F5F5;
          box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
          text-align: center;
          padding: 0.5rem;
          &__image {
            width: 100%;
            margin: 1rem 0;
            position: relative;
            .user-image {
              width: 5rem;
              height: 5rem;
              object-fit: cover;
              border-radius: 50%;
              display: block;
              margin: 0 auto;
              border: 0.5px solid #DCD4D4;
              
            }
          }
          &__ranking {
            position: absolute;
            top: -0.5rem;
            .ranking-image {
              width: 3rem;
              height: 2.5rem;
              object-fit: fill;
              border-radius: 50%;
            }
          }
          &__name {
            font-size: large;
            font-weight: bold;
          }
          &__follower {
            font-size: x-small;
            color: #999;
          }
        }
        &__user:hover {
          opacity: 0.6;
          transition-duration: 0.3s;
        }
      }
    }
  }
}
a {
  text-decoration: none;
}