.header {
  height: 4rem;
  width: 100vw;
  background-color: #Fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
  animation: anime2 3s ease;
  &__content {
    height: 100%;
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 4rem;
    &__right {
      font-size: xx-large;
      .btn-top {
        color: $mainColor;
      }
    }
    &__left {
      .btn-post {
        background-color: $mainColor;
        color: #fff;
        padding: 0.7rem 2rem;
        letter-spacing: 1.5px;
        border-radius: 5px;
      }
    }
  }
}

#nav-toggle {
  animation: anime3 3s ease;
  position: fixed;
  top: 20px;
  right: 25px;
  height: 32px;
  cursor: pointer;
  
> div {
  position: relative;
  width: 36px;
}
span {
  width: 100%;
  height: 1px;
  left: 0;
  display: block;
  background: #333;
  position: absolute;
  transition: transform .6s ease-in-out, top .5s ease;
  
  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 14px;
  }
  &:nth-child(3) {
    top: 28px;
  }
}

&:hover span:nth-child(1) {
  top: 4px;
}
&:hover span:nth-child(3) {
  top: 23px;
}

}

.open {
#nav-toggle span {
  background: #fff;
  
  &:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  &:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
  }
}
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}
#container {
  z-index: 900;
}

#gloval-nav {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}


#gloval-nav {
  & a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    transition: color .6s ease;
    
    &:hover {
      color: #666;
    }
  }

  & ul {
    list-style: none;
    
    & li {
      opacity: 0;
      transform: translateX(200px);
      transition:  transform .6s ease, opacity .2s ease;

      &:nth-child(2) {
        transition-delay: .15s;
      }
      &:nth-child(3) {
        transition-delay: .3s;
      }
      &:nth-child(4) {
        transition-delay: .45s;
      }
      &:nth-child(5) {
        transition-delay: .6s;
      }
      &:nth-child(6) {
        transition-delay: .75s;
      }
      &:nth-child(7) {
        transition-delay: .9s;
      }
    }
  }
} 

/* open */
.open {
  overflow: hidden;

#gloval-nav {
  visibility: visible;
  opacity: 0.9;
}

#gloval-nav li {
  opacity: 1;
  transform: translateX(0);
  transition:  transform 1s ease, opacity .9s ease;
}
}