.top-main {
  max-width: 980px;
  margin: 0 auto;
  &__contents {
    &__category {
      margin-bottom: 4%;
      &__title {
        font-weight: bold;
        font-size: xx-large;
        margin-bottom: 1%;
      }
      &__content {
        width: 100%;
        & ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          & li {
            padding: 2% 0;
            .title {
              color: #111;
              text-align: center;
              font-size: larger;
            }
          }
        }
      }
    }
    &__new-posts {
      margin-bottom: 4%;
      &__title {
        font-weight: bold;
        font-size: xx-large;
        margin-bottom: 1%;
      }
      &__content {
        width: 100%;
        display: flex;
        &__head {
          width: 100%;
          font-weight: 300;      
          & tr {
            & td  {
              border: 1px solid #E8E1E1;
              padding: 1rem;
              &.top-main__contents__new-posts__content__title {
                line-height: 16px;
                background-color: #F4F3F4;
                color: #999;
              }
              &.top-main__contents__new-posts__content__body {
                word-wrap: break-word;
                width: 5rem;
                font-size: small;
              }
            }
          }
        }
      }
    }
  }
}
a {
  text-decoration: none;
}