.user-show-wrapper {
  width: 980px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 56px;
  &__row {
    margin: 0 0 32px;
    &__user-contents {
      display: flex;
      &__left {
        height: 13rem;
        width: 13rem;
        padding: 5%;
        .user-image {
          height: 80%;
          width: 80%;
          border-radius: 50%;
          border: 0.5px solid #DCD4D4;
          padding: 10%;
        }
      }
      &__right {
        padding: 5% 0;
        width: 60%;
        &__top {
          display: flex;
          justify-content: space-between;
          &__name {
            font-size: 28px;
          }
          &__follow {
            margin: auto 0;
          }
        }
        &__data {
          font-size: 1rem;
          letter-spacing: 0.4px;
          color: #999;
          font-weight: 300;
          &__age {

          }
        }
        &__count {
          padding: 3% 0;
          display: flex;
          font-size: medium;
          &__follow {
            margin-right: 1rem;
          }
          &__follower {

          }
        }
      }
    }
  }
}