// ユーザー詳細
.user-show-wrapper {
  width: 980px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 56px;
  &__row {
    margin: 0 0 32px;
    &__user-contents {
      display: flex;
      border-bottom: 1px solid #e7e7e7;
      &__left {
        height: 13rem;
        width: 13rem;
        padding: 5%;
        .user-image {
          height: 80%;
          width: 80%;
          border-radius: 50%;
          border: 0.5px solid #DCD4D4;
          padding: 10%;
        }
      }
      &__right {
        padding: 5% 0;
        width: 60%;
        &__top {
          display: flex;
          justify-content: space-between;
          &__name {
            font-size: 30px;
          }
          &__follow {
            font-size: x-large;
            margin: auto 0;
            .btn-edit {
              color: $mainColor;
            }
            .follower-dm {
              display: flex;
              .dm {
                border-radius: 50%;
                padding: 0.1rem 0.5rem;
                color: $mainColor;
                border: 0.5px solid $mainColor;
                cursor: pointer;
              }
              .dm:hover {
                color: #FFF;
                background-color: $mainColor;
                transition-duration: 0.3s;
              }
              .new-dm {
                border-radius: 50%;
                padding: 0.35rem 0.5rem;
                color: $mainColor;
                background-color: #fff;
                font-size: x-large;
                border: 0.5px solid $mainColor;
                cursor: pointer;
              }
              .new-dm:hover {
                color: #FFF;
                background-color: $mainColor;
                transition-duration: 0.3s;
              }
              .follows {
                text-decoration: none;
                color: $mainColor;
                display: block;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0;
                font-weight: 300;
                padding: 8px;
                border-radius: 4px;
                background-color: #fff;
                border: 1px solid $mainColor;
                height: 100%;
                cursor: pointer;
              }
              .follow-now {
                text-decoration: none;
                color: #fff;
                display: block;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0;
                font-weight: 300;
                padding: 8px;
                border-radius: 4px;
                background-color: $mainColor;
                border: 1px solid $mainColor;
                height: 100%;
                margin-left: 2rem;
                cursor: pointer;
              }
            }
          }
        }
        &__data {
          font-size: 1rem;
          letter-spacing: 0.4px;
          color: #999;
          font-weight: 300;
          &__text {
          }
        }
        &__count {
          padding: 3% 0;
          display: flex;
          font-size: 18px;
          &__follow {
            margin-right: 1rem;
            cursor: pointer;
            border-right: 1px solid #e7e7e7;
            padding-right: 1rem;
          }
          &__follower {
            cursor: pointer;
          }
        }
        &__info {
          &__text {
            word-break: keep-all;
          }
        }
      }
    }
    &__post-contents {
      &__header {
        font-size: 13px;
        margin: auto;
        padding: 1rem;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #2D2926;
        font-weight: 400;
        width: fit-content;
        border-bottom: 2px solid $mainColor;
      }
      &__items {
        padding: 0 7rem;
        margin-top: 2%;
        &__content {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .link-item {
            display: flex;
            width: 20rem;
            padding: 2rem 1rem;
          }
          .link-item:hover {
            opacity: 0.6;
            transition-duration: 0.3s;
          }
          &__image {

          }
          &__info {
            width: 100%;
            margin-left: 1rem;
            &__brand {
              display: block;
              font-size: x-small;
              line-height: 16px;
              color: #666;
              font-weight: 300;
              margin: 8px 0 4px;
            }
            &__name {
              font-size: inherit;
              line-height: 20px;
              letter-spacing: 0.4px;
              color: #2D2926;
              margin: 0;
              font-weight: 400;
            }
            &__price {
              margin-top: 8px;
              list-style-type: none;
              padding: 0;
              font-size: small;
              line-height: 16px;
              letter-spacing: 0.4px;
              color: #999;
              font-weight: 300;
            }
            &__star {
              color: $mainBlack;
              font-size: x-small;
            }
            &__text {
              color: $mainColor;
              width: fit-content;
              margin-left: auto;
              font-size: small;
            }
          }
        }
        &__no-content {
          padding: 4rem;
          margin: auto;
          width: fit-content;
          font-size: large;
        }
      }
    }
  }
}
// ユーザー編集
.edit-user {
  width: 700px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 56px;
  &__row {
    width: 100%;
    height: 100%;
    .field-image {
      margin-bottom: 1%;
      .image-text {
        margin: auto;
        width: fit-content;
        position: relative;
        .image-btn {
          border: 0.5px solid $mainColor;
          border-radius: 50%;
        }
        & input{
          display: none;
        }
      }
      .image-text .caption {
        font-size: 70%;
        text-align: center;
        line-height: 112px;
        color: #fff;
      }
      .image-text .mask {
        width: 100%;
        height:	100%;
        position:	absolute;
        top: 0;
        left:	0;
        opacity: 0;
        font-size: x-large;
        background-color:	rgba(0,0,0,0.4);
        -webkit-transition:	all 0.2s ease;
        transition:	all 0.2s ease;
        cursor: pointer;
      }
      .image-text:hover .mask {
        opacity: 1;
      }
    }
    .field {
      margin-bottom: 1rem;
      .form-text {
        padding: 10px 20px;
        border: 1px #ccc solid;
        border-radius: 4px;
        background-color: #fbfbfb;
      }
      & select {
        width: 32.5%;
        padding: 0 20px;
        border: 1px #ccc solid;
        border-radius: 4px;
        height: 47px;
        background-color: #fbfbfb;
      }
    }
    .field-radio {
      margin-top: 2rem;
      .form-area {
        padding: 10px 20px;
        border: 1px #ccc solid;
        border-radius: 4px;
        background-color: #fbfbfb;
        width: 100%;
      }
    }
    .field__submit {
      margin-top: 5%;
      .form-btn {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 1.5px;
        color: #fff;
        font-weight: 500;
        text-align: center;
        background: $mainColor;
        height: 40px;
        border-radius: 5px;
        display: block;
        margin: auto;
        width: 32.5%;
        border: none;
      }
    }
  }
}

.validate-button {
  margin-top: 1rem;
}
.validate-button input[type='radio'] {
  display: none;
}
.validate-button label {
  background-color: #f4f4f4;
  padding: 2% 8%;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.validate-button input[type='radio']:checked + label {
  background-color: $mainColor;
  color: #fff;
} 
.validate-button label:hover {
  background-color: #e7e7e7;
}