.footer
  .footer__content
    .footer__content__top
      = link_to "#", class: "btn-top" do
        Men's Cosmetic
    .footer__content__bottom
      Copyright © 2020 AppBrew Inc.All Rights Reserved.