.header
  .header__content
    .header__content__right
      = link_to "#", class: "btn-top" do
        Men's Cosmetic
    .header__content__left
      .header__content__left__user
        = link_to 'マイページ', "#",  class: "btn-user"
      .header__content__left__post
        = link_to '投稿', "#",  class: "btn-post"
