= render "header"
.show-post-wrapper
  .show-post-wrapper__main
    .show-post-wrapper__main__title
      .show-post-wrapper__main__title__brand
        = @post.brand
      .show-post-wrapper__main__title__name
        = @post.name
    .show-post-wrapper__main__main
    .show-post-wrapper__main__remark
    .show-post-wrapper__main__comment


= render "footer"