@keyframes anime1 {
  0% {
      opacity:  0;
      top: 50px;
  }
  100% {
      opacity:  1;
      top: 0;
  }
}

@keyframes anime2 {
	0%{
		opacity: 0;
  }
  70%{
    opacity: 0;
  }
	100%{
    opacity: 1;
  }
}

@keyframes anime3 {
	0%{
		opacity: 0;
  }
  60%{
    opacity: 0;
    left: 20%;
  }
	100%{
    opacity: 1;
    left: 15%;
  }
}

@keyframes popping-arrow {
  0% {
    transform: translateY(0) rotate(-45deg);
  }
  30% {
    transform: translateY(.5em) rotate(-45deg);
  }
  60% {
    transform: translateY(0) rotate(-45deg);
  }
}
