= render "posts/header"
.categories-wrapper
  .categories-wrapper__contents
    .categories-wrapper__contents__top
      カテゴリー
    .categories-wrapper__contents__main
      - @categories.each do |category|
        .categories-wrapper__contents__main__contents
          .categories-wrapper__contents__main__contents__title
            = link_to category.name, category_post_path(category), class: 'category'
          .categories-wrapper__contents__main__contents__category
      


      -# -# 仮置
      -# .categories-wrapper__contents__main__contents
      -#   .categories-wrapper__contents__main__contents__title
      -#     メイクアップ
      -#   .categories-wrapper__contents__main__contents__category

      -# .categories-wrapper__contents__main__contents
      -#   .categories-wrapper__contents__main__contents__title
      -#     メイクアップ
      -#   .categories-wrapper__contents__main__contents__category

= render "posts/footer"